CONFIG_IMX_SDMA=m
# built-in to avoid loading generic phy first
CONFIG_ADIN_PHY=y
CONFIG_BRCMFMAC=m

# hummingboard ripple
CONFIG_RTC_DRV_ABX80X=m
CONFIG_RFKILL=m
CONFIG_RFKILL_GPIO=m
CONFIG_USB_ONBOARD_HUB=m

# hummingboard iiot
CONFIG_LEDS_LP55XX_COMMON=m
CONFIG_LEDS_LP5562=m
CONFIG_MUX_GPIO=m
CONFIG_SPI_MUX=m
CONFIG_TCG_TIS=m
CONFIG_TCG_TIS_SPI=m
CONFIG_TCG_INFINEON=m
CONFIG_TOUCHSCREEN_ILITEK=m
CONFIG_DRM_PANEL_RONBO_RB070D30=m

# wwan modules
CONFIG_USB_NET_CDC_MBIM=m
CONFIG_USB_NET_QMI_WWAN=m
CONFIG_USB_SERIAL_SIERRAWIRELESS=m
CONFIG_USB_SERIAL_QUALCOMM=y
CONFIG_USB_SERIAL_OPTION=y
CONFIG_USB_SIERRA_NET=m
